* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
#videoBackground {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-fit: cover;
  }
  header.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background: rgba(8, 145, 236, 0.5);
    padding: 1rem;
}

header.navigation a {
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    transition: 1s;
}

header.navigation a:hover,
header.navigation a.active {
    padding: 0.5rem 1rem;
    color: black;
    border-radius: 20px 10px 10px 10px;
    background: darkgray;
}
section.container {
    color: #fff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 2rem;
}

.container {
    padding: 20px;
    color: white;
}


.hero2 {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
    padding: 50px 20px; 
}

.hero2 .title h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}

.hero2 .title p {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 20px;
}


.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.hero21 .title {
    font-size: 24px;
    font-weight: bold;
    color: #65d3f8; 
    margin-bottom: 10px;
}

.hero21 .description {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.dota-img {
    width: 100%;
    max-width: 600px; 
    max-height: 400px; 
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
    border: 2px solid #fff; 
}
.morph {
    border-radius: 8px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    max-width: 300px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
    transition: transform 0.3s ease; 
}

.morph:hover {
    transform: scale(1.05); 
}

.morph .dota2-content {
    padding-bottom: 20px; 
}

.morph .dota2-content .title {
    font-size: 18px;
    font-weight: bold;
    color: #65d3f8;
    margin-bottom: 10px;
}

.morph .dota-img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-top: 15px;
    transition: transform 0.3s ease; 
}

.morph:hover .dota-img {
    transform: scale(1.1); 
}